In [35]:
import pandas as pd
import numpy as np
df=pd.read_excel("corona.xlsx")

In [36]:
df.head(10)

        date  cases  active cases  deaths
0 2020-02-15   16.0          13.0    -1.0
1 2020-02-16   16.0          13.0     0.0
2 2020-02-17    NaN           9.0     0.0
3 2020-02-18   16.0           7.0     0.0
4 2020-02-19   16.0           7.0     NaN
5 2020-02-20   16.0           3.0     0.0
6 2020-02-21   16.0           2.0     0.0
7 2020-02-22   16.0           2.0     0.0
8 2020-02-23   16.0           2.0     0.0
9 2020-02-24   16.0           2.0     0.0

In [32]:
df.info

<bound method DataFrame.info of          date     cases  active cases  deaths
0  2020-02-15      16.0          13.0    -1.0
1  2020-02-16      16.0          13.0     0.0
2  2020-02-17       NaN           9.0     0.0
3  2020-02-18      16.0           7.0     0.0
4  2020-02-19      16.0           7.0     NaN
..        ...       ...           ...     ...
59 2020-04-14  132210.0       60515.0  3495.0
60 2020-04-15  134753.0       58349.0  3804.0
61 2020-04-16  137698.0       56646.0  4052.0
62 2020-04-17  141397.0       53931.0  4352.0
63 2020-04-18  143724.0       53786.0  4538.0

[64 rows x 4 columns]>

In [37]:
#drop all the rows which has minimum one blank value, inplace=True, axis=0, 1
df.dropna(inplace=True)

In [38]:
df.head(10)

         date  cases  active cases  deaths
0  2020-02-15   16.0          13.0    -1.0
1  2020-02-16   16.0          13.0     0.0
3  2020-02-18   16.0           7.0     0.0
5  2020-02-20   16.0           3.0     0.0
6  2020-02-21   16.0           2.0     0.0
7  2020-02-22   16.0           2.0     0.0
8  2020-02-23   16.0           2.0     0.0
9  2020-02-24   16.0           2.0     0.0
10 2020-02-25   18.0           3.0     0.0
12 2020-02-27   48.0          32.0     0.0

In [ ]:
print(df.loc[:,["cases","active cases"]].corr())

In [ ]:
gb=df.groupby('cases')
gb.first()

In [19]:
mean=df["cases"].mean()
mean

43175.17741935484

In [20]:
mode=df["cases"].mode()
mode

0    16.0
Name: cases, dtype: float64

In [21]:
sum=df["cases"].sum()
sum

2676861.0

In [22]:
median=df["cases"].median()
median

to_type
atype

13823.5

In [26]:
#replace with the new value that you want using .replace() function
df["cases"].replace(np.nan,sum)

0          16.0
1          16.0
2     2676861.0
3          16.0
4          16.0
        ...
59     132210.0
60     134753.0
61     137698.0
62     141397.0
63     143724.0
Name: cases, Length: 64, dtype: float64

In [39]:
df.dtypes

date            datetime64[ns]
cases                  float64
active cases           float64
deaths                 float64
dtype: object

In [41]:
# df["cases"]=df["cases"].astype(int)
# df.dtypes
df
#if I want to change this datatype from 32 to 64 , how can I do?

         date   cases  active cases  deaths
0  2020-02-15      16          13.0    -1.0
1  2020-02-16      16          13.0     0.0
3  2020-02-18      16           7.0     0.0
5  2020-02-20      16           3.0     0.0
6  2020-02-21      16           2.0     0.0
7  2020-02-22      16           2.0     0.0
8  2020-02-23      16           2.0     0.0
9  2020-02-24      16           2.0     0.0
10 2020-02-25      18           3.0     0.0
12 2020-02-27      48          32.0     0.0
13 2020-02-28      74          58.0     0.0
14 2020-02-29      79          63.0     0.0
15 2020-03-01     130         114.0     0.0
16 2020-03-02     165         149.0     0.0
17 2020-03-03     203         187.0     0.0
18 2020-03-04     262         246.0     0.0
21 2020-03-07     800         782.0     0.0
22 2020-03-08    1040        1022.0     0.0
23 2020-03-09    1224        1204.0     2.0
24 2020-03-10    1565        1545.0     2.0
25 2020-03-11    1966        1938.0     3.0
26 2020-03-12    2745        2714.0     6.0
27 2020-03-13    3675        3621.0     8.0
28 2020-03-14    4599        4544.0     8.0
29 2020-03-15    5813        5754.0    13.0
30 2020-03-16    7272        7188.0    17.0
31 2020-03-17    9367        9274.0    26.0
32 2020-03-18   12327       12194.0    28.0
33 2020-03-19   15320       15161.0    44.0
34 2020-03-20   19848       19668.0    59.0
35 2020-03-21   22364       22071.0    84.0
36 2020-03-22   24873       24513.0    94.0
37 2020-03-23   29056       28480.0   123.0
38 2020-03-24   32986       29586.0   157.0
39 2020-03-25   37323       33570.0   206.0
40 2020-03-26   43938       37998.0   267.0
41 2020-03-27   50871       43862.0   351.0
42 2020-03-28   57695       48781.0   433.0
43 2020-03-29   62095       52359.0   525.0
44 2020-03-30   66711       52566.0   645.0
45 2020-03-31   70985       54479.0   682.0
46 2020-04-01   77981       58350.0   931.0
47 2020-04-02   84794       61247.0  1107.0
48 2020-04-03   91159       65309.0  1275.0
49 2020-04-04   96108       68262.0  1446.0
50 2020-04-05  100123       69839.0  1584.0
51 2020-04-06  103375       72865.0  1819.0
52 2020-04-07  107663       69566.0  2016.0
53 2020-04-08  113296       64647.0  2349.0
54 2020-04-09  118235       63221.0  2607.0
55 2020-04-10  122171       65522.0  2736.0
56 2020-04-11  125452       65181.0  2871.0
57 2020-04-12  127854       64532.0  3022.0
58 2020-04-13  130072       62578.0  3194.0
59 2020-04-14  132210       60515.0  3495.0
60 2020-04-15  134753       58349.0  3804.0
61 2020-04-16  137698       56646.0  4052.0
62 2020-04-17  141397       53931.0  4352.0
63 2020-04-18  143724       53786.0  4538.0

In [42]:
#simple feature scaling to normalize the data, try other two by your own
df["cases"]=df["cases"]/df["cases"].max()
df["cases"]

0     0.000111
1     0.000111
3     0.000111
5     0.000111
6     0.000111
7     0.000111
8     0.000111
9     0.000111
10    0.000125
12    0.000334
13    0.000515
14    0.000550
15    0.000905
16    0.001148
17    0.001412
18    0.001823
21    0.005566
22    0.007236
23    0.008516
24    0.010889
25    0.013679
26    0.019099
27    0.025570
28    0.031999
29    0.040446
30    0.050597
31    0.065174
32    0.085769
33    0.106593
34    0.138098
35    0.155604
36    0.173061
37    0.202165
38    0.229509
39    0.259685
40    0.305711
41    0.353949
42    0.401429
43    0.432043
44    0.464160
45    0.493898
46    0.542575
47    0.589978
48    0.634264
49    0.668698
50    0.696634
51    0.719261
52    0.749095
53    0.788289
54    0.822653
55    0.850039
56    0.872867
57    0.889580
58    0.905012
59    0.919888
60    0.937582
61    0.958072
62    0.983809
63    1.000000
Name: cases, dtype: float64

In [43]:
df["cases"]

0     0.000111
1     0.000111
3     0.000111
5     0.000111
6     0.000111
7     0.000111
8     0.000111
9     0.000111
10    0.000125
12    0.000334
13    0.000515
14    0.000550
15    0.000905
16    0.001148
17    0.001412
18    0.001823
21    0.005566
22    0.007236
23    0.008516
24    0.010889
25    0.013679
26    0.019099
27    0.025570
28    0.031999
29    0.040446
30    0.050597
31    0.065174
32    0.085769
33    0.106593
34    0.138098
35    0.155604
36    0.173061
37    0.202165
38    0.229509
39    0.259685
40    0.305711
41    0.353949
42    0.401429
43    0.432043
44    0.464160
45    0.493898
46    0.542575
47    0.589978
48    0.634264
49    0.668698
50    0.696634
51    0.719261
52    0.749095
53    0.788289
54    0.822653
55    0.850039
56    0.872867
57    0.889580
58    0.905012
59    0.919888
60    0.937582
61    0.958072
62    0.983809
63    1.000000
Name: cases, dtype: float64

In [45]:
#linspace Return evenly spaced numbers over a specified interval.
bins=np.linspace(min(df["cases"]),max(df["cases"]),5)
bins

array([1.11324483e-04, 2.50083493e-01, 5.00055662e-01, 7.50027831e-01,
       1.00000000e+00])

In [51]:
#to get the label on column
label=["low","medium","high","Very High"]

In [54]:
#We can use the cut() function to convert the numeric values of the column into the categorical values.
df["bincases"]=pd.cut(df["cases"],bins,labels=label,include_lowest=True)

In [55]:
df[["cases","bincases"]].head(100)

       cases   bincases
0   0.000111        low
1   0.000111        low
3   0.000111        low
5   0.000111        low
6   0.000111        low
7   0.000111        low
8   0.000111        low
9   0.000111        low
10  0.000125        low
12  0.000334        low
13  0.000515        low
14  0.000550        low
15  0.000905        low
16  0.001148        low
17  0.001412        low
18  0.001823        low
21  0.005566        low
22  0.007236        low
23  0.008516        low
24  0.010889        low
25  0.013679        low
26  0.019099        low
27  0.025570        low
28  0.031999        low
29  0.040446        low
30  0.050597        low
31  0.065174        low
32  0.085769        low
33  0.106593        low
34  0.138098        low
35  0.155604        low
36  0.173061        low
37  0.202165        low
38  0.229509        low
39  0.259685     medium
40  0.305711     medium
41  0.353949     medium
42  0.401429     medium
43  0.432043     medium
44  0.464160     medium
45  0.493898     medium
46  0.542575       high
47  0.589978       high
48  0.634264       high
49  0.668698       high
50  0.696634       high
51  0.719261       high
52  0.749095       high
53  0.788289  Very High
54  0.822653  Very High
55  0.850039  Very High
56  0.872867  Very High
57  0.889580  Very High
58  0.905012  Very High
59  0.919888  Very High
60  0.937582  Very High
61  0.958072  Very High
62  0.983809  Very High
63  1.000000  Very High